.toast {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 20%;
  margin: 10px;
  pointer-events: none;
}
.toast__body {
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  animation: info 3s linear;
}
.toast__body-ok {
  background-color: rgba(4, 77, 7, 0.8);
  color: #21c926;
}
.toast__body-error {
  background-color: rgba(77, 4, 7, 0.8);
  color: #c92126;
}